= content_for :head do
 coffee:
  $ ->
    timeout = 60 * 1000
    reload = () ->
        $("#page_home").load('/?projects=true')
        setTimeout reload, timeout
    setTimeout reload, timeout
section#page_home.page.current
 = render :partial => 'projects'