/* browsertiles. 2010. Paul M. Watson <paul@paulmwatson.com> */
.tiles, .tile
{
    list-style-type: none;
}

.tiles
{
    height: 95%;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;
    width: 95%;
}

@media only screen and (max-width: 550px)
{
    .tiles
    {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 99%;
    }
}

/* Default Tile */
.tile
{
    float: left;
    height: 15%;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 16.6%;
}

.tile div
{
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 10px 10px 0 10px;
    overflow: hidden;
}

.tile .right
{
    float: right;
    margin-right: 20px;
}

.tile h2
{
    bottom: 10px;
    left: 20px;
    position: absolute;
    text-shadow: 0px -1px 0 #888;
    white-space: nowrap;
}

.tile h3
{
    font-family: SegoeWP;
    font-size: 20px;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 20px;
}

/* Custom Sizes */
.tile.wide
{
    width: 33.1%;
}

.tile.high
{
    height: 40%;
}

.tile.banner
{
    width: 100%;
}

.tile.panel
{
    height: 80%;
    width: 100%;
}

/* Browser Size Media Queries */

@media only screen and (max-width: 1000px)
{
    .tile
    {
        width: 12.5%;
    }

    .tile.wide
    {
        width: 25%;
    }
}

@media only screen and (max-width: 750px)
{
    .tile
    {
        width: 16.5%;
    }

    .tile.wide
    {
        width: 33%;
    }
}

@media only screen and (max-width: 550px)
{
    .tile
    {
        width: 33%;
    }

    .tile.wide
    {
        width: 66%;
    }
}

@media only screen and (max-height: 600px)
{
    .tile
    {
        height: 15%;
    }

    .tile.high
    {
        height: 40%;
    }
}

/* Colours */
.theme_default .tile.green div
{
    background-color: #339933;
}
.theme_default .tile.red div
{
    background-color: #ff0000;
}